.slider {
  height: 820px;
  background: url("../images/patterns/pattern-curve-top-right.svg") no-repeat;
  background-size: 50%;
  background-position-x: -30%;
}
.container {
  height: inherit;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__container {
  height: inherit;
  display: flex;
  align-items: center;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "image content"
                         "image menu";
  grid-column-gap: 120px;
}

.slider__image {
  grid-area: image;
  width: 100%;
  max-width: 95%;
  justify-self: end;
  position: relative;
}

.slider__content {
  grid-area: content;
  align-self: center;
  display: grid;
  gap: 25px;
  max-width: 95%;
}

.slider__menu {
  grid-area: menu;
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-rows: repeat(3, 40px);
}

.slider__image:before {
  content: url("../images/patterns/pattern-lines.svg");
  position: absolute;
  top: -40px;
  left: -5%;
}

.slider__image > img{
  width: 100%;
}

.slider__content--title {
  font-size: 40px;
  line-height: 56px;
}

.slider__content--description {
  font-size: 18px;
  line-height: 30px;
}


.slider__content--button {
  height: 64px;
  width: 245px;
  border: none;
  background-color: #111111;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.slider__content--button:hover {
  background-color: #fff;
  border: 1px solid #111111;
  color: #111111;
}

.slider__menu--option {
  border: none;
  color: #4c4c4c;
  background: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider__menu--option.active {
  color: #111111;
  position: relative;
}

.slider__menu--option.active:before {
  content: "";
  width:100px;
  height: 1px;
  background-color: #9e7f66;
  position: absolute;
  top: 50%;
  left: -120px;
}

.slider__menu--option:hover {
  color: #111111;
}